@import url("modern-normalize.css");

@font-face {
  font-family: "Norse Bold";
  src: url("fonts/Norse-Bold-webfont.woff2") format("woff2"), url("fonts/Norse-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}