@import url("modern-normalize.css");

@font-face {
  font-family: "Norse Bold";
  src: url("fonts/Norse-Bold-webfont.woff2") format("woff2"), url("fonts/Norse-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
}

.background-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url("res/background.jpg");
  background-size: cover;
}

.logo-container {
  --height: calc(100vh / 6);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height);
  width: 100%;
  top: var(--height);
  background: rgba(0, 0, 0, 0.5);
}

.logo-image {
  height: 8rem;
}

.logo-text {
  font-family: "Norse Bold";
  font-size: 6rem;
  color: white;
}

.credit-container {
  color: white;
}

.credit-link {
  color: inherit;
}

.form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.pitch-container {
  flex: 1;
}

.inputs-container {
  flex: 1;
}

.button-container {
  flex: 1;
}