@import "./reset.css";

:root {
  /* Error */

  --error-100: #fff7f5;
  --error-500: #d5351f;
  --error-800: #b41d08;

  /* Fandango */

  --fandango-100: #f7b3df;
  --fandango-400: #b30089;
  --fandango-500: #93006f;
  --fandango-800: #530047;

  /* Guava */

  --guava-100: #fff3ef;
  --guava-500: #f45d48;

  /* Warning */

  --warning-100: #fffaf2;
  --warning-500: #e9b550;
  --warning-700: #b88023;

  /* Salt */

  --salt-100: #ffffff;
  --salt-200: #fbfafa;
  --salt-300: #f4f4f3;
  --salt-400: #eaeaea;
  --salt-500: #dcdcdc;
  --salt-600: #bababc;
  --salt-700: #919197;
  --salt-800: #6c6c72;
  --salt-900: #525257;
  --salt-1000: #1c1c1c;
}

body {
  height: 100vh;
}


h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--salt-1000);
}

h2 {
  font-weight: bold;
  color: var(--salt-1000);
}

p {
  color: var(--salt-1000);
  margin-bottom: 0.25rem;
}

span {
  font-size: 0.8rem;
  color: var(--salt-900);
}

hr {
  border: 1px solid var(--salt-400);
}

input {
  color: var(--salt-1000);
}

button[type="button"]:hover {
  cursor: pointer;
}

.invisible-button {
  border: none;
  background: none;
  padding: 0;
}

#root {
  height: 100%;
  display: grid;
  grid-template-areas: "sidebar tasks";
  grid-template-columns: 16rem 1fr;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--salt-200);
  gap: 2rem;
}

.sidebar__section {
  display: flex;
  flex-direction: column;
}

.actions__action-button {
  display: flex;
  gap: 0.5rem;
  background: none;
  border: none;
  padding: 0;
  width: 100%;
}

.actions__action-button:hover {
  cursor: pointer;
  background: var(--salt-300);
}

/* Dialogs */

dialog {
  width: 32rem;
  border: none;
  border-radius: 0.5rem;
  margin: 16rem auto auto auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-section {
  display: flex;
  gap: 0.5rem;
}

.form-section_column {
  flex-direction: column;
}

.form-section_space-between {
  justify-content: space-between;
}

.form-section_flex-end {
  justify-content: flex-end;
}

.group {
  display: flex;
  gap: 0.5rem;
}

input[type="text"] {
  padding: 0;
  border: none;
  outline: none;
}

.emphasise {
  font-size: 1.5rem;
  font-weight: bold;
}

input[type="date"] {
  outline: none;
  border: 2px solid var(--salt-400);
  border-radius: 0.3rem;
  width: 8.4rem;
  padding: 0.2rem 0.4rem;
}

select {
  outline: none;
  border: 2px solid var(--salt-400);
  background: none;
  border-radius: 0.3rem;
  padding: 0.2rem 0.4rem;
}

button {
  border: none;
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
}

button[type="submit"] {
  color: var(--salt-100);
  background: var(--guava-500);
}

button:hover {
  cursor: pointer;
}

/* Content */

.content {
  height: 100%;
  margin: 0 auto;
  max-width: 80rem;
  padding: 4rem 2rem;
}

.tasks__task {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.tasks__task-check-circle {
  color: var(--salt-700);
}

.tasks__task-check-circle_priority_low {
  color: green;
}

.tasks__task-check-circle_priority_medium {
  color: goldenrod;
}

.tasks__task-check-circle_priority_high {
  color: red;
}

.tasks__task-section_position_right {
  display: flex;
  flex-direction: column;
}