# This directory is tracked separately
foundations/css-foundations/intro-to-css/css-exercises
# This directory is tracked separately
foundations/flexbox/landing-page/landing-page
# This directory is tracked separately
foundations/html-foundations/recipes/odin-recipes
# This directory is tracked separately
foundations/javascript-basics/arrays-and-loops/javascript-exercises
# This directory is tracked separately
foundations/javascript-basics/rock-paper-scissors/rock-paper-scissors
# This directory is tracked separately
foundations/javascript-basics/etch-a-sketch/etch-a-sketch