foundations/css-foundations/intro-to-css/css-exercises
foundations/flexbox/landing-page/landing-page
foundations/html-foundations/recipes/odin-recipes
foundations/javascript-basics/arrays-and-loops/javascript-exercises
foundations/javascript-basics/etch-a-sketch/etch-a-sketch
foundations/javascript-basics/object-basics/array-cardio-practice/javascript-thirty
foundations/javascript-basics/rock-paper-scissors/rock-paper-scissors