:root {
  --gray-100: #ffffff;
  --gray-200: #fbfafa;
  --gray-300: #f4f4f3;
  --gray-400: #eaeaea;
  --gray-500: #dcdcdc;
  --gray-600: #bababc;
  --gray-700: #919197;
  --gray-800: #6c6c72;
  --gray-900: #525257;
  --gray-1000: #1c1c1c;

  --banner-turquoise: #53c6ab;
}

body {
  /* The footer should be visible only on-scroll. */
  /* height: calc(100vh + 64px); */
  height: 100vh;
  overflow-x: hidden;
}

footer {
  background-color: var(--banner-turquoise);
}

.viewport {
  max-width: 1200px;
  margin: 0 auto;

  padding: 3rem;
}

.viewport_section_top {
  min-height: 100%;
}

.background {
  position: absolute;
  height: 100%;
  width: 200%;
  transform: rotate(-5deg) translate(0, -1050px);
  z-index: -1;
  background-color: var(--banner-turquoise);
}

.title {
  color: var(--gray-1000);

  margin-bottom: 1rem;
}

.title_size_large {
  font-size: 3rem;
  margin-bottom: 0;
}

.title_size_medium {
  font-size: 2rem;
}

.title_size_small {
  font-size: 1rem;
}

.title_colour_light {
  color: var(--gray-100);
}

.paragraph {
  color: var(--gray-900);

  margin-bottom: 1rem;
}

.paragraph_size_large {
  font-size: 1rem;
}

.paragraph_size_small {
  font-size: 0.9rem;
}

.paragraph_colour_light {
  color: var(--gray-100);
}

.links {
  display: flex;
  gap: 0.5rem;
}

.link {
  text-decoration: none;
}

.link_type_icon {
  color: var(--gray-1000);
}

.link_type_text {
  color: var(--gray-1000);

  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link_colour_light {
  color: var(--gray-100);
}

.icon_size_large {
  font-size: 1.5rem;
}

.icon_size_small {
  font-size: 1.25rem;
}

.icon_colour_light {
  color: var(--gray-100);
}

/* Introduction */

.introduction {
  display: flex;
  align-items: center;

  margin-bottom: 5rem;
}

.introduction__headshot {
  z-index: 1;
  width: 50rem;
  aspect-ratio: 1 / 1;
  background-image: url("../other/tanaka_chitete-headshot.jpg");
  background-size: contain;
  border-radius: 6px;
  box-shadow: 0 0 5px var(--gray-700);

  display: flex;
  align-items: end;
  justify-content: center;
}

.introduction__about {
  background-color: white;
  border-radius: 0 6px 6px 0;
  box-shadow: 0 0 5px var(--gray-700);

  padding: 1rem;
}

/* Projects */

.work {
  margin-bottom: 5rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.projects__project {
  flex: 1;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 4px var(--gray-700);

  padding: 1rem;
}

/* Contact */

/* Miscellaneous */

.right-aligned {
  justify-content: flex-end;
}
