:root {
  --gray-100: #ffffff;
  --gray-400: #b6b6b6;
  --gray-700: #676767;
  --gray-1000: #000000;
}

body {
  /* The footer should be visible only on-scroll. */
  /* height: calc(100vh + 64px); */
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.title,
.paragraph {
  margin-bottom: 1rem;
}

.title_size_large {
  font-size: 3rem;
  margin-bottom: 0;
}

.title_size_medium {
  font-size: 2rem;
}

.title_colour_light {
  color: white;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.icons_size_medium > .fa-brands {
  font-size: 1.25rem;
}

.icons_alignment_right {
  justify-content: flex-end;
}

.header-background {
  position: absolute;
  height: 100%;
  width: 200%;
  /* transform: rotate(-10deg) translate(0, -180px) scale(140%, 120%); */
  transform: rotate(-10deg) translate(0, -750px);
  z-index: -1;
  background-color: #add250;
}

.viewport {
  width: 1200px;
  padding: 2rem;
}

/* Introduction */

.introduction {
  display: flex;
  align-items: center;
}

.introduction__headshot {
  z-index: 1;
  width: 50rem;
  aspect-ratio: 1 / 1;
  background-image: url("../other/tanaka_chitete-headshot.jpg");
  background-size: contain;
  box-shadow: 0 0 5px gray;

  display: flex;
  align-items: end;
  justify-content: center;
}

.introduction__about {
  box-shadow: 0 0 5px gray;
  background-color: white;

  padding: 1rem;
}

.about__icons {
  display: flex;
}

/* Projects */

.work {
  background-color: yellow;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects__project {
  background-color: lightskyblue;
  width: 400px;
  display: grid;
  grid-template-areas:
    "image"
    "about";
  grid-template-rows: 3fr 2fr;
}

.project__image {
  background-color: gray;
}

.about__title-and-icons {
  display: flex;
  justify-content: space-between;
}

/* Contact */

.contact {
  background-color: green;
}
