:root {
  --color1: #c9bba2;
  --color2: #271f10;
  --color3: #723f15;
  --color4: #896330;
  --color5: #ece7dd;
  --color6: #ae9060;
  --color7: #877553;
  --color8: #898765;
  --color9: #ede4cb;
  --color10: #527c76;
  --nav-core-height: 4rem;
}

body {
  /* Hides horizontal scrollbar resulting from total page height >100vh */
  overflow-x: hidden;
}

a,
a:visited {
  color: inherit;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

/* Header */

nav {
  background: var(--color4);
}

.container_nav {
  padding: 0.5rem 2rem;
}

.nav-core {
  height: var(--nav-core-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-core__right {
  display: flex;
  gap: 2rem;
}

.nav-core__nav-item {
  background: none;
  border: none;
  padding: 0;
  color: var(--color5);
}

.nav-core__nav-item:hover {
  cursor: pointer;
}

.nav-core__nav-item_branding {
  font-family: "DM Sans";
  font-size: 1.5rem;
}

.nav-core__nav-item_tab {
  font-family: "Manrope";
  text-transform: uppercase;
}

/* Main */

main {
  height: calc(100vh - var(--nav-core-height));
  background-color: var(--color5);
}

.container_main {
  padding: 4rem 2rem;
}

/* Home */

.hero-image {
  height: 100%;
  background: url("../assets/images/hero.jpg") no-repeat center;
  background-size: cover;
}

/* Menu */

.menu-name {
  font-family: "Inria Serif";
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color4);
}

.menu-name_main {
  font-size: 2rem;
}

.menu-name_sub {
  font-size: 1.5rem;
}

.menu-items {
  margin-bottom: 4rem;
}

.menu-items__menu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.menu-items__menu-item-name,
.menu-items__menu-item-price {
  font-family: "Inria Serif";
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color4);
}

.menu-items__menu-item-info {
  font-family: "Inria Serif";
  font-size: 1rem;
  font-weight: normal;
  color: var(--color4);
  display: inline-block;
  margin-left: 1rem;
}


/* Footer */

footer {
  background: var(--color4);
}

.container_footer {
  padding: 4rem;
}

.footer-core {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer-core__left {
  display: flex;
  align-items: flex-end;
}

.footer-core__branding {
  user-select: none;
  height: calc(100% / 3);
}

.footer-core__right {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-core__listing-heading {
  font-family: "Inria Serif";
  margin-bottom: 1rem;
  color: var(--color5);
}

.footer-core__listing-list-item {
  font-family: "Manrope";
  font-size: 0.85rem;
  text-transform: uppercase;
  color: var(--color5);
}

.footer-core__listing-list-item:not(:last-child) {
  margin-bottom: 1rem;
}