:root {
  --color1: #c9bba2;
  --color2: #271f10;
  --color3: #723f15;
  --color4: #896330;
  --color5: #ece7dd;
  --color6: #ae9060;
  --color7: #877553;
  --color8: #898765;
  --color9: #ede4cb;
  --color10: #527c76;
}

body {
  /* Hides horizontal scrollbar resulting from total page height >100vh */
  overflow-x: hidden;
}

a,
a:visited {
  color: inherit;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

/* Header */

header {
  width: 100vw;
  justify-content: center;
}

nav {
  background: var(--color5);
}

.nav-core {
  height: 4rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main */

main {
  height: calc(100vh - 4rem);
}

.hero-image {
  height: 100%;
  background: url("../assets/images/hero.jpg") no-repeat center;
  background-size: cover;
}

/* Footer */

footer {
  background: var(--color4);
}

.footer-core {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 4rem;
}

.footer-core__left {
  display: flex;
  align-items: flex-end;
}

.footer-core__branding {
  user-select: none;
}

.footer-core__right {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-core__listing-heading {
  font-family: "Inria Serif";
  margin-bottom: 1rem;
  color: var(--color5);
}

.footer-core__listing-list-item {
  font-family: "Manrope";
  text-transform: uppercase;
  color: var(--color5);
  font-size: 0.85rem;
}

.footer-core__listing-list-item:not(:last-child) {
  margin-bottom: 1rem;
}