:root {
  --color1: #c9bba2;
  --color2: #271f10;
  --color3: #723f15;
  --color4: #896330;
  --color5: #ece7dd;
  --color6: #ae9060;
  --color7: #877553;
  --color8: #898765;
  --color9: #ede4cb;
  --color10: #527c76;
  --height_container_nav: 4rem;
}

body {
  /* Hides horizontal scrollbar resulting from total page height >100vh */
  overflow-x: hidden;
}

a,
a:visited {
  color: inherit;
}

h1 {
  font-family: "Inria Serif";
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color4);
}

h2 {
  font-family: "Inria Serif";
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color4);
}

h3 {
  font-family: "Inria Serif";
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color4);
}

h4 {
  font-family: "Inria Serif";
  margin-bottom: 1rem;
  color: var(--color5);
}

p {
  font-family: "Inria Serif";
  margin-bottom: 1rem;
  color: var(--color4);
}

.container {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
}

/* Header */

nav {
  background: var(--color4);
}

.container_nav {
  height: var(--height_container_nav);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  display: flex;
  gap: 2rem;
}

.nav-buttons__button {
  background: none;
  border: none;
  padding: 0;
  color: var(--color5);
}

.nav-buttons__button:hover {
  cursor: pointer;
}

.nav-buttons__button_type_brand {
  font-family: "DM Sans";
  font-size: 1.5rem;
}

.nav-buttons__button_type_page {
  font-family: "Manrope";
  text-transform: uppercase;
}

/* Main */

main {
  height: calc(100vh - var(--height_container_nav));
  background-color: var(--color5);
}


/* Home */

.hero-image {
  height: 100%;
  background: url("../assets/images/hero.jpg") no-repeat center;
  background-size: cover;
}

/* Menu */

.container_page_menu {
  padding: 4rem 2rem;
}

.menu-items {
  margin-bottom: 4rem;
}

.menu-items__menu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.menu-items__menu-item-details {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 1rem;
}

/* About */

.container_page_about {
  height: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tag {
  width: 50%;
}

.core_page_about,
.container_about {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.tag {
  justify-self: flex-end;
}

/* Footer */

footer {
  background: var(--color4);
}

.container_footer {
  padding: 4rem;
}

.footer-core {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer-core__left {
  display: flex;
  align-items: flex-end;
}

.footer-core__branding {
  user-select: none;
  height: calc(100% / 3);
}

.footer-core__right {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-core__listing-list-item {
  font-family: "Manrope";
  font-size: 0.85rem;
  text-transform: uppercase;
  color: var(--color5);
}

.footer-core__listing-list-item:not(:last-child) {
  margin-bottom: 1rem;
}