@import "./reset.css";

:root {
  --salt-100: #ffffff;
  --salt-200: #fbfafa;
  --salt-300: #f4f4f3;
  --salt-400: #eaeaea;
  --salt-500: #dcdcdc;
  --salt-600: #bababc;
  --salt-700: #919197;
  --salt-800: #6c6c72;
  --salt-900: #525257;
  --salt-1000: #1c1c1c;
}

body {
  height: 100vh;
  background-color: var(--salt-200);
}

#root {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  grid-template-rows: 4rem 1fr 3fr 4rem;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--salt-600);
}

h4 {
  font-weight: 600;
}

p {
  color: var(--salt-1000);
}

/* Search */

header {
  grid-area: header;
}

/* Summary */

aside {
  grid-template-areas: aside;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.summary {
  text-align: center;
}

.summary__location {
  font-size: 2rem;
}

.summary__temp {
  font-size: 4rem;
}

.summary__conditions {
  font-size: 1.5rem;
}

/* Day Forecast */

.tiles {
  aspect-ratio: 1/1;
  width: 52rem;
  display: grid;
  grid-template-areas:
    "day-forecast       day-forecast       day-forecast day-forecast"
    "fortnight-forecast fortnight-forecast feels-like   uv-index"
    "fortnight-forecast fortnight-forecast wind-speed   visibility"
    "fortnight-forecast fortnight-forecast sunrise-time sunset-time";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0 auto;
}

.tile {
  background-color: var(--salt-500);
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 2rem auto 1fr;
  grid-template-areas:
    "heading"
    "separator"
    "body";
  padding: 1rem;
}

.tile__heading {
  grid-area: heading;
}

.tile__separator {
  grid-area: separator;
  margin-bottom: 0.5rem;
}

.tile__body {
  grid-area: body;
  display: flex;
  justify-content: space-between;
}

.hour-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tile_type_day-forecast {
  grid-area: day-forecast;
  display: grid;
}

/* Fortnight Forecast */

.tile_type_fortnight-forecast {
  grid-area: fortnight-forecast;
}

.tile__body_vertical {
  flex-direction: column;
}

.fortnight-forecast {
  height: 100%;
}

.day-forecast {
  width: 100%;
}

.day-forecast__day,
.day-forecast__min-temp,
.day-forecast__max-temp {
  font-weight: 600;
}

.day-forecast__min-temp,
.day-forecast__max-temp {
  text-align: right;
}

.day-forecast__icon {
  /* The icons are positioned too high */
  padding-top: 0.3rem;
}

/* Feels Like */

.tile_feels-like {
  grid-area: feels-like;
}

.tile__body_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile__body_centered > h1 {
  font-size: 4rem;
}

/* UV-Index */

.tile_uv-index {
  grid-area: uv-index;
}

/* Wind Speed */

.tile_wind-speed {
  grid-area: wind-speed;
}

/* Visibility */

.tile_visibility {
  grid-area: visibility;
}

/* Sunrise */

.tile_sunrise-time {
  grid-area: sunrise-time;
}

/* Sunset */

.tile_sunset-time {
  grid-area: sunset-time;
}
