@import "my-reset.css";

:root {
  --white: #ffffff;
  --blue: #1892d3;
  --gray: #e1e8f0;
  --yellow: #facc16;
  --icon-height: 30px;
  --icon-width: var(--icon-height);
}

body {
  height: 100vh;
  font-family: "Roboto";
  background: var(--gray);
}

.material-symbols-outlined.md-48 {
  font-size: 48px;
}

.page {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.header {
  grid-area: header;
  background-color: var(--white);
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.2);
  height: fit-content;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2rem;
}

.header-top__search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-top__search-icon,
.header-top__notifications-icon {
  font-size: 1rem;
}

.header-top__search-input {
  width: 100%;
  height: 2.2rem;
  background-color: var(--gray);
  border: none;
  border-radius: 1.1rem;
}

.header-top__search-input:focus {
  outline: none;
  border: 1px solid var(--blue);
}

.header-top__notifications {
  display: flex;
  align-items: center;
  justify-content: end;
}

.profile-picture-image,
.profile-picture-image_large {
  aspect-ratio: 1 / 1;
  width: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.header-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 2rem;
}

.header-bottom__greeting {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profile-picture-image_small {
  width: 3.5rem;
}

.header-bottom__greeting-message-text-salutation {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

.header-bottom__greeting-message-text-recipient {
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
}

.header-bottom__actions {
  display: flex;
  justify-content: end;
  gap: 1.8rem;
}

.header-bottom__action {
  display: grid;
  align-items: center;
}

.header-bottom__action-button {
  height: 2.5rem;
  width: 6.5rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background: var(--blue);
}

.sidebar {
  grid-area: sidebar;
  padding: 1rem 2rem;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-shadow: 5px 0 10px -3px rgba(0, 0, 0, 0.2);
}


.sidebar__feature-item,
.sidebar__account-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.sidebar__logo-icon,
.sidebar__feature-item-icon,
.sidebar__account-item-icon {
  color: var(--white);
  display: flex;
}

.sidebar__feature-item-name,
.sidebar__account-item-name {
  color: var(--white);
  font-weight: bold;
  font-size: 1.25rem;
}

.sidebar__feature-items,
.sidebar__account-items {
  display: grid;
  gap: 1rem;
}



.main {
  grid-area: main;
}