@import url("modern-normalize.css");

:root {
  --header-background-color: #ffffff;
  --sidebar-background-color: #1992d4;
  --main-background-color: #e2e8f0;
  --accent-color: #facc15;
  --white-text-color: #ffffff;
  --gray-text-color: #656363;
  --black-text-color: #202122;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
}

.header {
  grid-column: 2 / 3;
  background: var(--header-background-color);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 0 2rem;
}

.header .top, 
.header .bottom {
  display: flex;
  justify-content: space-between;
}

.search,
.user {
  display: flex; 
  align-items: center;
  gap: 2rem;
}

.search svg,
.user svg {
  width: 2rem;
  color: var(--black-text-color);
}

.search input {
  outline: none;
  border: none;
  background: var(--main-background-color);
  height: 2rem;
  width: 50rem;
  border-radius: 1rem;
  padding-left: 1rem; /* Prevents text cursor touching input */
}

.avatar img {
  aspect-ratio: 1 / 1;
  width: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.greeting {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.greeting .avatar img {
  width: 5rem;
}

.greeting .message {
  font-weight: bold;
}

.greeting .message .name {
  font-size: 2rem;
}

.media {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.media button {
  border: none;
  height: 3rem;
  width: 8rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 1.5rem;
}

.user .name {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar {
  background: var(--sidebar-background-color);
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 1rem;
}

.sidebar * {
  color: var(--white-text-color);
  font-weight: bold;
}

.sidebar svg {
  fill: currentColor;
}

.destinations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.branding,
.destination {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.branding svg {
  width: 4rem;
}

.branding .icon,
.destination .icon {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding .name {
  font-size: 2rem;
}

.branding .name,
.destination .name {
  display: flex;
  align-items: center;
}

.destination svg {
  width: 2rem;
}

.destination .name {
  font-size: 1.5rem;
}

.main {
  background-color: var(--main-background-color);
}